<!DOCTYPE html>
<html lang="en">
<!-- 最先开始的页面可以是登录，然后如果没有账号，点击功能注册页面，然后让用户注册账户，
    如果用户还没有登录，其他功能只能不能点，提示，“请先登录哦”
    先验证用户名是否存在，用户名不存在提示”用户不存在，请先登录“
    验证用户名和密码是否正确，不正确提示“用户名密码错误”
    登录成功跳转index页面，
    -->
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
{{template "thead.html".}}
{{.errInfo}}
<div class="box2">
    <div class="b2">
    <div class="welcome"> Welcome</div>
    <form method="post" action="/login">
        <lable for="username"><input type="text" name="username" placeholder="Username" ></lable>
        <br>
        <lable for="password"><input type="password" name="password" placeholder="Password"></lable>
        <br>
        <input type="submit" value="Login" class="login">
    </form>
    </div>
</div>
<div class="box3">
    <!-- 后期这里可以是页脚-->
</div>
</body>
</html>